{% extends "WittyWeBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - Commandez nos jeux{% endblock %}

{% block content %}
	
	<div id="container">
		TEST
	</div>
   
   
{% endblock %}
