<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Witty Editions{% endblock %}</title>
		
		{% stylesheets 
			'../app/Resources/public/css/reset.css' 
			'../app/Resources/public/css/*.css'
		%}
			<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch|Karla:400,400italic,700,700italic|Crete+Round' rel='stylesheet' type='text/css'>
        {% block stylesheets %} {% endblock %}
		
		{% javascripts '../app/Resources/public/js/*' %}
			<script src="{{ asset_url }}" type="text/javascript"></script>
		{% endjavascripts %}
		
		{# Compatibilité pour cette saloperie de IE #}
		<!--[if lt IE 9]>
			<script>
			/*
			 HTML5 Shiv v3.6.2pre | @afarkas @jdalton @jon_neal @rem | MIT/GPL2 Licensed
			*/
			(function(l,f){function m(){var a=e.elements;return"string"==typeof a?a.split(" "):a}function i(a){var b=n[a[o]];b||(b={},h++,a[o]=h,n[h]=b);return b}function p(a,b,c){b||(b=f);if(g)return b.createElement(a);c||(c=i(b));b=c.cache[a]?c.cache[a].cloneNode():r.test(a)?(c.cache[a]=c.createElem(a)).cloneNode():c.createElem(a);return b.canHaveChildren&&!s.test(a)?c.frag.appendChild(b):b}function t(a,b){if(!b.cache)b.cache={},b.createElem=a.createElement,b.createFrag=a.createDocumentFragment,b.frag=b.createFrag();
			a.createElement=function(c){return!e.shivMethods?b.createElem(c):p(c,a,b)};a.createDocumentFragment=Function("h,f","return function(){var n=f.cloneNode(),c=n.createElement;h.shivMethods&&("+m().join().replace(/\w+/g,function(a){b.createElem(a);b.frag.createElement(a);return'c("'+a+'")'})+");return n}")(e,b.frag)}function q(a){a||(a=f);var b=i(a);if(e.shivCSS&&!j&&!b.hasCSS){var c,d=a;c=d.createElement("p");d=d.getElementsByTagName("head")[0]||d.documentElement;c.innerHTML="x<style>article,aside,figcaption,figure,footer,header,hgroup,nav,section{display:block}mark{background:#FF0;color:#000}</style>";
			c=d.insertBefore(c.lastChild,d.firstChild);b.hasCSS=!!c}g||t(a,b);return a}var k=l.html5||{},s=/^<|^(?:button|map|select|textarea|object|iframe|option|optgroup)$/i,r=/^(?:a|b|code|div|fieldset|h1|h2|h3|h4|h5|h6|i|label|li|ol|p|q|span|strong|style|table|tbody|td|th|tr|ul)$/i,j,o="_html5shiv",h=0,n={},g;(function(){try{var a=f.createElement("a");a.innerHTML="<xyz></xyz>";j="hidden"in a;var b;if(!(b=1==a.childNodes.length)){f.createElement("a");var c=f.createDocumentFragment();b="undefined"==typeof c.cloneNode||
			"undefined"==typeof c.createDocumentFragment||"undefined"==typeof c.createElement}g=b}catch(d){g=j=!0}})();var e={elements:k.elements||"abbr article aside audio bdi canvas data datalist details figcaption figure footer header hgroup mark meter nav output progress section summary time video",version:"3.6.2pre",shivCSS:!1!==k.shivCSS,supportsUnknownElements:g,shivMethods:!1!==k.shivMethods,type:"default",shivDocument:q,createElement:p,createDocumentFragment:function(a,b){a||(a=f);if(g)return a.createDocumentFragment();
			for(var b=b||i(a),c=b.frag.cloneNode(),d=0,e=m(),h=e.length;d<h;d++)c.createElement(e[d]);return c}};l.html5=e;q(f)})(this,document);
			</script>
		<![endif]-->
		
		{# <script type="text/javascript">$.noConflict();</script> Si besoin est -> Ajout du mode no conflict de jquery pour garder la toolbar symfony #}
		
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

		<script>			
			{# Google Analytics #}
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-17906341-6']);
			_gaq.push(['_setDomainName', 'witty-editions.fr']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		
		<header>
			{% render "WittyBarBundle:Bar:display" %}
		</header>
        {% block content %}{% endblock %}
		<footer>
			{# render "WittyFooterBundle:Footer:display" #}
		</footer>
    
    	
    
        {% if not(app.user) %}
		
			<div id="popup_login" class="popup login">
				<div class="login_normal">
					<div class="haut_popup">
						<a class="titre_popup">Se connecter</a>
						<a class="close">x</a>
					</div>
					<div class="champs_inscription">
						{% render "FOSUserBundle:Security:loginPopup" %}
					</div>
					<a class="texte_popuplogin3" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
				</div>
			</div>
				
			<div id="popup_register" class="popup register" type_popup="register">
				<div class="login_normal">
					<div class="haut_popup">
						<a class="titre_popup">+ Inscrire ma boutique</a>
						<a class="close">x</a>
					</div>
						{% render "WittyUserBundle:Registration:register" %}
					<p class="texte_popuplogin5">En vous inscrivant, vous acceptez<br/> nos <a class="conditions">conditions d'utilisation</a></p>
				</div>
			</div>
			
		{% endif %}

		{% block javascripts %} {% endblock %}
			
    </body>
    
    
</html>
