.spacer {
    clear: both;
}

/* Styles des éléments */
body{
	background-color: #f6f6f6;
}

p{
	font-family: font-family: Arial,Helvetica,sans-serif;
	color: #786E6C;
}

h1{
	font-family: 'Cabin Sketch',cursive;
	color: #514846;
	font-size: 1em;
	line-height: 1.2;
}

h2{
	font-family: 'Cabin Sketch',cursive;
	color: #514846;
	font-size: 0.875em;
	line-height: 1.2;
}

img {
  border: none;
}

input, textarea, select{
  outline: none;
}

/* Classes courantes */

.titrePage{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:2.500em;
	text-align:center;
	margin-bottom:16px;
}

.descriptionPage{
	font-family: 'Cabin Sketch', cursive;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size:1.250em;
	text-align:center;
	line-height: 1.2;
}


.tabulation{
	margin-left : 50px;
}
.centre{
	margin: 0 auto;
}

footer{
	bottom:0px;
}

/* Styles courants */
.texte_bleu{
	color: #4270BE;
}

.texte_centre{
	margin: 0 auto;
}