.spacer {
    clear: both;
}

/* Styles des éléments */
body{
	background-color: #fff;
}

p{
	font-family: font-family: Arial,Helvetica,sans-serif;
	color: #383838;
}

h1{
	font-family: 'Cabin Sketch',cursive;
	color: #383838;
	font-size: 1em;
	line-height: 1.2;
}

h2{
	font-family: 'Cabin Sketch',cursive;
	color: #383838;
	font-size: 0.875em;
	line-height: 1.2;
}

img {
  border: none;
}

input, textarea, select{
  outline: none;
}

/* Classes courantes */

.tabulation{
	margin-left : 50px;
}
.centre{
	margin: 0 auto;
}

footer{
	bottom:0px;
}
