{% extends "WittyWeBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittymwg/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - Commandez nos jeux{% endblock %}

{% block content %}
	
	<div id="container">
		<p class="texte" style="margin: 200px 500px;">
			Merci d'avoir commandé chez Witty Editions !<br/>
			Vous recevrez une facture par mail.<br/>
			Votre commande vous sera livrée sous 72h<br/>
		</p>
	</div>
   
   
{% endblock %}
