{% extends "WittyWeBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittyorder/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - Commandez nos jeux{% endblock %}

{% block content %}
	
	<div id="container">
		<p class="texte_confirmation">
			Merci d'avoir commandé chez Witty Editions !<br/>
		</p>
		<p class="texte_confirmation dessous">
			Vous recevrez une facture par mail, et votre commande vous sera livrée sous 72h.<br/>
		</p>
		<div class="blocTitrePage">
			<p class="descriptionPage descriptionPage_projet">A bientôt !</p>
		</div>
	</div>
   
   
{% endblock %}
