{% extends "WittyWeBundle::layout.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/wittywe/css/*.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block title %}{{ parent() }} - CGV{% endblock %}

{% block content %}
	
	<div id="container">
		<br/>
		<h1>Witty Editions SAS - Conditions générales de vente aux particuliers au 13/11/2012</h1>
		<br/>
		<br/>
		<h2>ARTICLE 1 : APPLICATIONS DES CONDITIONS GENERALES </h2>
		<br/>
		<p>
			Conformément aux dispositions du Code de Commerce, les présentes conditions générales constituent le socle et la base contractuelle de toute relation commerciale. <br/>
			Toute commande de la part du client implique de plein droit acceptation des présentes conditions générales, conditions auxquelles il ne peut être dérogé que par accord écrit. 
			En conséquence, le client renonce à ses propres conditions, sauf accord écrit et signé de WITTY EDITIONS sur celles-ci.<br/>
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 2 : FORMATION DU CONTRAT</h2>
		<br/>
		<p>
			Le contrat ne pourra être formé qu’après la communication préalable à l’Acheteur des présentes conditions générales de vente qui sont indissociables du barème de prix, de remises et de ristournes, et des conditions de paiement de la catégorie concernée.<br/>
			Les commandes ne seront définitives qu’après leur acceptation par WITTY EDITIONS qui fera tous les efforts raisonnablement envisageables pour la satisfaction et les besoins de l’Acheteur.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 3 : TARIFS</h2>
		<br/>
		<p>
			3.1       Les barèmes de prix comportant les conditions de règlement et de transport sont établis selon les catégories de clientèle et ne s’appliqueront qu’à des acheteurs d’une même catégorie. WITTY EDITIONS se réserve le droit de les modifier à tout moment en fonction de l'évolution des prix du marché, en respectant les dispositions légales en vigueur.<br/>
			<br/>
			3.2       Sauf convention contraire écrite et acceptée, les prix facturés sont ceux des tarifs en vigueur au jour de la réception de la commande. Des conditions particulières de vente pourront être éventuellement négociées, en contrepartie de réels services spécifiques rendus par l’Acheteur.<br/>
			<br/>
			3.3       Les barèmes de prix sont communicables dans les conditions fixées par l'article L446-1 du Code de Commerce.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 4 : COMMANDES</h2>
		<br/>
		<p>
			4.1       Pour être valable, toute commande doit être effectuée par écrit et préciser exactement la marchandise commandée selon les caractéristiques fournies par WITTY EDITIONS. Toute commande précisant des informations autres que celles fournies par WITTY EDITIONS pourra être refusée. <br/>
			<br/>
			4.2       Toute commande écrite engage expressément le client sur son objet et son règlement.<br/>
			<br/>
			A titre exceptionnel, WITTY EDITIONS pourra accepter une annulation ou une modification de commande, à condition expresse que cette annulation ou modification lui soit demandée par écrit, au plus tard 15 jours avant la date de livraison initialement prévue. En cas d'annulation acceptée par WITTY EDITIONS, le client sera redevable d'une indemnité forfaitaire de 5 % du montant HT de la commande, au titre des  préjudices subis par WITTY EDITIONS, qui se réserve le droit de la réclamer.<br/>
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 5 : LIVRAISON ET DELAIS</h2>
		<br/>
		<p>
			5.1       Transport<br/>
			<br/>
			Les livraisons sont assurées exclusivement par WITTY EDITIONS et ses sous- traitants. Sauf accord écrit préalable, le client ne pourra en aucun cas procéder ou faire procéder par lui-même à l'enlèvement des produits commandés<br/>
			<br/>
			5.2       Frais de port<br/>
			<br/>
			Le montant minimum de commande garantissant l’expédition en franco de port est spécifié sur chaque barème de prix. Toute commande égale ou supérieure à ce montant sera expédiée franco de port et d'emballage en France métropolitaine. Sauf stipulation contraire préalablement acceptée par Witty Editions, toute commande inférieure à ce montant donnera donc lieu à facturation de frais de port additionnels. En cas d’envoi «express» à la demande du client, les frais occasionnés lui seront dans tous les cas facturés en sus des frais de port usuels.<br/>
			<br/>
			5.3       Réception des marchandises <br/>
			<br/>
			Le client s'engage à réceptionner la marchandise le jour même de la livraison; à défaut, la société WITTY EDITIONS pourra solliciter de justes dommages et intérêts et se considérer dispensée de son obligation de délivrance tout en sollicitant paiement de la commande de la part du client, lequel y sera tenu.  Si, après acceptation de WITTY EDITIONS, une nouvelle livraison était effectuée, WITTY EDITIONS facturera son coût additionnel.<br/>
			<br/>
			5.4       Dénonciation des pertes et avaries <br/>
			<br/>
			Dans le cas d'avaries ou de colis manquants à la réception d’une livraison de WITTY EDITIONS, le client devra impérativement formuler auprès du transporteur les réserves conformes aux dispositions de l’article L.133-3 du Code de Commerce. Le destinataire prenant livraison sans réserves reconnait implicitement avoir reçu des marchandises en bon état et conformes aux poids et quantités spécifiés sur le titre de transport.<br/>
			Toute réclamation concernant une livraison ne pourra être effectuée que dans les conditions conformes au Code du Commerce, avec notification d'une réclamation détaillée au transporteur dans les 3 jours suivant la réception, réclamation produisant la preuve de l'avarie ou des manquants.<br/>
			Toute livraison reconnue conforme tant en qualité, qu’en quantité au moment de la réception, et notamment sur toute plate-forme logistique de l’Acheteur, ne pourra faire l’objet d’aucune réclamation ultérieure.<br/>
			<br/>
			5.5       Délais minimaux de livraison <br/>
			<br/>
			Les délais de livraison sont purement indicatifs et aucune pénalité ne pourra sanctionner un retard raisonnable.<br/>
			Les délais minimaux de livraison sont les suivants :<br/>
			<br/>
			- pour tout nouveau client dont WITTY EDITIONS ne dispose pas déjà du N° de TVA intra-communautaire et des coordonnées bancaires : 30 jours ouvrables à compter de la réception de la commande<br/>
			<br/>
			- dans tous les autres cas : 15 jours ouvrables à compter de la réception de la commande<br/>
			<br/>
			Ces délais minimums ne s'appliquent pas pour les produits en rupture de stock, pour les nouveaux produits, pour les quantités exceptionnellement supérieures à 10 colis standards d’une même référence et non programmées préalablement par le client et pour tous produits spéciaux réalisés sur demande.  Dans ces situations, le délai de livraison sera celui confirmé par la société WITTY EDITIONS en fonction de la disponibilité des marchandises concernées.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 6 : TRANSFERT DES RISQUES</h2>
		<br/>
		<p>
			De convention expresse et dérogatoire, les marchandises voyagent aux risques du client.<br/>
			Le transfert de risques, de pertes ou de détériorations des marchandises, interviendra dès leur remise au transporteur, après les opérations de chargement, nonobstant la clause de réserve de propriété.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 7 : INTERDICTION DE RETOUR</h2>
		<br/>
		<p>
			Aucun retour pour invendu ne sera accepté par la société WITTY EDITIONS. <br/>
			Tout retour de marchandises pour vice de fabrication devra expressément faire l’objet d’une demande préalable du client et d’un accord écrit de la part de WITTY EDITIONS. En cas de retour pour vice de fabrication, les marchandises concernées feront l'objet d'un échange standard, sauf accord exceptionnel confirmé par écrit donnant lieu à remboursement ou à indemnité.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 8 : CLAUSE DE RESERVE DE PROPRIETE</h2>
		<br/>
		<p>
			Les marchandises commandées sont vendues avec une clause subordonnant expressément leur transfert de propriété au paiement intégral du prix en principal et accessoires.<br/>
			La remise d'un effet de commerce créant obligation de payer, par traite ou tout autre moyen, ne constitue pas un paiement au sens de la présente clause, la créance originelle du vendeur sur l'acheteur subsistant avec toutes les garanties qui y sont attachées, y compris la réserve de propriété, jusqu'à ce que l’effet de commerce ait été effectivement honoré à son terme.<br/>
			Ces dispositions ne font pas obstacle au transfert à l'acheteur des risques de perte ou de détérioration des marchandises soumises à réserve de propriété, ainsi que des dommages qu'elles pourraient occasionner. <br/>
			L'acheteur s'interdit de donner en gage ou de céder à titre de garantie la propriété des marchandises.<br/>
			En cas de saisie arrêt ou de toute autre intervention d'un tiers sur les marchandises, l'acheteur devra impérativement en informer le vendeur sans délai afin de lui permettre de s'y opposer et de préserver ses droits; en ce cas, il devra informer le tiers que les marchandises sont soumises à la présente clause de réserve de propriété.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 9 : CONDITIONS DE REGLEMENT et ESCOMPTE</h2>
		<br/>
		<p>
			Les conditions de règlement des factures de la société WITTY EDITIONS sont précisées en annexe aux présentes conditions générales. Les règlements doivent être impérativement adressés à WITTY EDITIONS, 14 rue Soleillet BL 21, 75020 PARIS.<br/>
			Tout retard de paiement à l'échéance entraînera, de plein droit, après l’envoi d’une lettre recommandée avec accusé de réception, restée sans effet, les conséquences suivantes :<br/>
			<br/>
			- à titre de pénalité, la facturation d'intérêts de retard équivalents à 1,5% de la facture TTC par mois de retard sera appliqué, à compter du lendemain du jour de l'échéance, et ce, sans préjudice de la réparation, dans les conditions de droit commun, de tout autre dommage résultant de ce retard,<br/>
			<br/>
			- la faculté pour la société WITTY EDITIONS, si bon lui semble, de procéder à la résolution de la vente aux torts et griefs du client, après une simple mise en demeure restée infructueuse dans un délai de 8 jours à compter de sa réception, et la revendication immédiate des marchandises conformément à la clause de réserve de propriété visée à l'article 7 des présentes,<br/>
			<br/>
			- en outre, la société WITTY EDITIONS aura la faculté d'exiger le paiement comptant de toutes commandes en cours ou à venir et même de refuser toute nouvelle commande. <br/>
			<br/>
			En cas de paiement par billet à ordre ou traite acceptée, ceux-ci doivent impérativement parvenir à la société WITTY EDITIONS dans un délai maximum de 15 jours à compter de la date de la livraison ; le non respect de cette disposition sera assimilé à un retard de paiement et entraînera les mêmes conséquences que celui-ci.<br/>

			Par ailleurs, dans l'hypothèse où la société WITTY EDITIONS aurait accepté par écrit des modalités de paiement dérogatoires, notamment par l'effet d'un échéancier de paiement, l'absence de respect d'une seule échéance entraînera les mêmes conséquences que celles stipulées ci-avant en cas de non paiement à l'échéance, de sorte que dès constatation du retard de paiement par rapport à l'échéance convenue, l'intégralité des sommes dues deviendra immédiatement exigible.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 10 : SERVICES PROPRES A FAVORISER LA COMMERCIALISATION DES PRODUITS</h2>
		<br/>
		<p>
			Tous les éventuels services propres à favoriser la commercialisation des produits, détachables des opérations d’achat-vente proposés par l’Acheteur au Fournisseur, devront satisfaire au formalisme prévu par l’article L441-7 du Code de Commerce.<br/>
			Toute demande de rémunération faite à ce titre devra en conséquence correspondre à un service effectivement rendu, afin de ne pas placer le Fournisseur en situation d’accord à un acheteur pour des avantages discriminatoires et dépourvus de contreparties réelles.<br/>
			Tous les services spécifiques qui se révèleraient dépourvus de cause, entraîneront, selon les dispositions légales en vigueur, la nullité pure et simple du contrat et de la facture de l’Acheteur.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 11 : EXONERATION DE RESPONSABILITE</h2>
		<br/>
		<p>
			La responsabilité de la société WITTY EDITIONS ne pourra en aucun cas être engagée en cas de problèmes de livraison liés à des avaries, manquants, retards ou absence de livraison, dès lors que l'inexécution partielle ou totale résulterait d'une cause lui étant étrangère.<br/>
			En aucun cas, la responsabilité de la société WITTY EDITIONS ne pourra être engagée en cas de force majeure, étant entendu que sont considérés comme des événements correspondant à des cas de force majeure, outre ceux habituellement retenus par la jurisprudence, la grève, les intempéries, les accidents affectant la production ou le transport.<br/>
			La société WITTY EDITIONS ne pourra en aucun cas voir sa responsabilité engagée pour des préjudices matériels ou immatériels tels que la perte de chiffre d’affaires...<br/>
			La responsabilité de la Société WITTY EDITIONS sera, dans tous les cas, même en cas de produits défectueux, limitée à la valeur des produits facturés.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 12 : PRESCRIPTION</h2>
		<br/>
		<p>
			Toute action née ou à naître à l'occasion de l'exécution des présentes conditions générales ou d'une prestation par la société WITTY EDITIONS, quelle qu’elle soit, résultant des présentes, se prescrit à l'expiration d'un délai d'un an à compter de l'événement qui lui a donné naissance.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 13 : TOLERANCE</h2>
		<br/>
		<p>
			Le fait pour WITTY EDITIONS de ne pas se prévaloir à un moment donné de l'une quelconque des dispositions des présentes conditions ne peut en aucun cas être considéré comme une renonciation à se prévaloir de cette disposition.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 14 : ATTRIBUTION DE JURIDICTION</h2>
		<br/>
		<p>
			Tout différend pouvant intervenir entre le client et la société WITTY EDITIONS sont, de convention expresse, de la compétence exclusive du tribunal de Commerce de Paris, nonobstant toute clause attributive de juridiction contraire.
		</p>
		<br/>
		<br/>
		<br/>
		<h1>ANNEXE AUX CONDITIONS GENERALES DE VENTE 2012 : CONDITIONS DE LIVRAISON ET DE PAIEMENT</h1>
		<br/><br/>
		<h2>ARTICLE 1 : APPLICATION</h2>
		<br/>
		<p>
			Conformément aux dispositions du Code de Commerce, les présentes conditions viennent en complément des conditions générales de vente, qui constituent le socle et la base contractuelle de toute relation commerciale.<br/>
			Toute commande de la part du client implique de plein droit acceptation des présentes conditions, conditions auxquelles il ne peut être dérogé que par accord écrit. En conséquence, le client renonce à ses propres conditions, sauf accord écrit et signé de WITTY EDITIONS sur celles-ci.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 2 : CONDITIONS DE LIVRAISON</h2>
		<br/>
		<p>
			Toute commande à livrer en France métropolitaine, de montant total hors taxes inférieur à 300 € (quatre cents EURO), fera l’objet d’une facturation forfaitaire de 15€ hors taxes pour frais de port.<br/> 
			Toute commande à livrer en France métropolitaine, de montant total hors taxes égal ou supérieur à 400 € (quatre cents EURO) sera expédiée en franco, sans frais de port. <br/>
			Toute expédition hors de ce territoire fera l’objet de frais de port calculés au cas par cas.
		</p>
		<br/>
		<br/>
		<h2>ARTICLE 3 : CONDITIONS DE REGLEMENT et ESCOMPTE</h2>
		<br/>
		<p>
			Le minimum de commande est de 200 €uro HT.  Les conditions de règlement standard de WITTY EDITIONS sont : paiement 45 jours fin de mois à réception de commande.<br/>
			En dehors des moyens de paiement par transfert bancaire direct, les règlements doivent être impérativement adressés à WITTY EDITIONS 14 rue Soleillet BL 21, 75020 Paris.<br/>
			Par ailleurs, dans l'hypothèse où la société WITTY EDITIONS aurait accepté par écrit des modalités de paiement dérogatoires, notamment par l'effet d'un échéancier de paiement, l'absence de respect d'une seule échéance entraînera les mêmes conséquences que celles stipulées ci-avant (article 9.1 de Conditions Générales de Ventes) en cas de non paiement à l'échéance, de sorte que dès constatation du retard de paiement par rapport à l'échéance convenue, l'intégralité des sommes dues deviendra immédiatement exigible.
		</p>
		<br/>
		<br/>
		<br/>
	</div>

{% endblock %}